body
{
    margin:0 2%;
    background-color: rgb(71, 74, 76);
    color:white;
    font-size: 20px;
}
.blok
{
    display:flex;
    justify-content: center;
}
.blok > div
{
    padding:10px;
}
ul
{
    padding-left: 10px;
}
.pod
{
    text-decoration: underline;
}
.poch
{
    font-style: italic;
}
.pog
{
    font-weight: bold;
}